@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    padding: 80px;
}

a {
    text-decoration: none;
    
}

ul {
    display: flex;

}

li {
    list-style: none;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* 

NAV BAR

*/

.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    height: 80px;
}

.logo {
    width: 56px;
}

.logo__sub-title{
    padding: 10px;
}

.logo__wrapper {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    width: 100%;
    width: 400px;
    justify-content: space-between;
    align-content: center;
   
}

.nav__link,
.log-in__link {
    font-weight: bold;
    font-size: 18px;
}

.nav__list {
    display: flex;
    align-items: center;
    
}

.all__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width:700px; 
}

.sign-up__links {
    width: 100%;
    max-width: 190px;
    justify-content: space-between;

}

.sign-up__link {
    padding: 10px 24px;
    background-color: #6415ff;
    color: white;
    
    border-radius: 20px;
}

/*

HEADER

*/

.purple {
    color: #6415ff;
}

.header__row  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__title--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    width: 40%;
    height: 500px;
    
}

.header__img   {
    width: 60%;
}

.header__img--wrapper {
    padding: 10px;
}

.header__title {
    font-size: 48px;
    font-weight: bold;
}

.header__sub-title {

}

.header__email--box {
    display: flex;

    padding: 20px 0px;
}

.email__bar {
    position: absolute;
    width: 100%;
    box-sizing: content-box; 
    max-width: 400px;
    border-radius: 40px;
    border: solid #243e632d;
    z-index: 0;
    font-size: 26px;
    padding: 8px 0;
}

.header__btn {
    position: relative;
    z-index: 1;
    background-color: #6415ff;
    border: none;
    border-radius: 40px;
    padding: 20px 36px;
    color: white;
    right: 830px;
}

.customer__titles {
    margin-bottom: 20px;
    color: #243e6365
}

/*

FEATURES

*/

#features {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.features__services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.features {
    color: #6415ff;
    padding: 24px 0;
}

.features__title {
    font-weight: 900;
    padding-bottom: 30px;
    font-size: 46px;
    text-align: center;
}

.features__para {
    max-width:540px ;
    width: 100%;
    text-align: center;
    padding: 20px 0 ;
}

.features__services--wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    height: 20vh;
   
}

.service {
    display: flex;
    align-items: start;
    width: calc(100% / 3);
    padding: 0 30px;
}

.feature__img {
    width: 30px;
    display: flex;
    justify-content: center;
    border: solid 2px rgba(128, 128, 128, 0.233);
    border-radius: 50%;
    align-items: start
}

.service__para {
    font-size: 8px;
    padding: 8px;
}

.service__sub-title {
    padding: 0 8px;
    font-size: 16px;
}

.service__sub--text {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.c
