@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h3 {
  color: #6415ff;
  padding: 24px 0;
  text-align: center;
}

.container {
  padding: 80px 0;
}

a {
  text-decoration: none;
  transition: all 300ms ease;
}

ul {
  display: flex;
}

li {
  list-style: none;
  align-items: center;
  cursor: pointer;
}

button {
  cursor: pointer;
}

p {
  color: #243e6398;
}

i {
  color: white;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 

NAV BAR

*/

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  height: 80px;
}

.logo {
  width: 56px;
}

.logo__sub-title {
  padding: 10px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.nav__links {
  display: flex;
  width: 100%;
  width: 400px;
  justify-content: space-between;
  align-content: center;
}

.nav__link,
.log-in__link {
  font-weight: bold;
  font-size: 18px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.all__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}

.sign-up__links {
  width: 100%;
  max-width: 190px;
  justify-content: space-between;
}

.sign-up__link {
  padding: 10px 24px;
  background-color: #6415ff;
  color: white;
  transition: all 300ms ease;
  border-radius: 20px;
}

.sign-up__link:hover {
  transform: scale(1.05);
  opacity: 0.86;
  text-decoration: none;
}

.nav__link,
.log-in__link {
  position: relative;
  width: max-content;
}

.nav__link:after,
.log-in__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #243e63;
  transition: 0.2s ease;
  transform: scaleX(0);
}

.nav__link:hover:after,
.log-in__link:hover:after {
  transform: scaleX(1);
}

.sign-up__link:active {
  opacity: 1;
}

.nav__link:active,
.log-in__link:active {
  opacity: 0.75;
}

/*

HEADER

*/

.purple {
  color: #6415ff;
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header__title--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 40%;
  height: 500px;
  padding: 0 8px;
}

.header__img {
  width: 60%;
}

.header__img--wrapper {
  padding: 10px;
}

.header__title {
  font-size: 48px;
  font-weight: bold;
}

.header__email--box {
  padding: 20px 0px;
  align-items: center;
  display: flex;
  width: 100%;
}

.email__bar {
  width: 100%;
  border-radius: 40px;
  border: solid #243e632d;
  padding: 16px;
  font-size: 24px;
  width: 100%;
}

.customer__titles {
  margin-bottom: 20px;
  color: #243e6365;
}

/*

FEATURES

*/

#features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h3 {
  color: #6415ff;
  padding: 24px 0;
}

.features__title {
  font-weight: 900;
  padding-bottom: 30px;
  font-size: 46px;
  text-align: center;
}

.features__para {
  max-width: 540px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.service__wrapper {
  display: flex;
  align-items: center;
}

.features__services--wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding-left: 70px;
}

.service {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-width: calc(100% / 3);
  padding: 20px 0;
}

.feature__img {
  width: 30px;
}

.service__para {
  font-size: 16px;
  padding: 8px;
  width: 100%;
  color: #243e63b0;
}

.service__sub-title {
  padding: 0 8px;
  font-size: 16px;
}

.service__sub--text {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.img__border {
  height: 25%;
}

/* 

QUALITY

*/

.quality__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.quality__header {
  width: 100%;
  padding: 50px 8px;
}

.quality__header--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 0px 16px;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img {
  padding: 0px 16px;
}

.learn-more__btn {
  width: 30%;
  background-color: #6315ff;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 36px;
  transition: all 0.3s;
}

.quality__title {
  font-size: 46px;
}

.quality-work__title {
  align-items: start;
  display: flex;
  padding: 0px 0px;
}

.learn-more__btn:hover {
  opacity: 0.86;
  transform: scale(1.03);
}

.learn-more__btn:active {
  opacity: 1;
}

/*

STEPS

*/

.steps__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__img--wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__img {
  height: 100%;
}

.steps__title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 50%;
}

.steps__title {
  padding: 16px 0px;
}

.steps__main-title {
  width: 100%;
  font-size: 46px;
  padding-bottom: 16px;
}

.step {
  display: flex;
  padding: 16px 0px;
}

.step__description {
  padding-left: 16px;
  width: 60%;
}

.step__description h2 {
  padding-bottom: 8px;
}

.step__description p {
  line-height: 1.5;
}

.step__number {
  font-size: 32px;
  width: 70px;
}

.step-1,
.step-2,
.step-3 {
  color: #243e634f;
}

.steps__title--wrapper,
.steps__img--wrapper {
  height: 100%;
  padding: 16px;
}

/*

PRICING

*/

.pricing__header--title {
  font-size: 24px;
  padding-bottom: 24px;
}

.pricing__header--para {
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.pricing__container {
  padding: 56px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing__plans {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.pricing__plan--card-1,
.pricing__plan--card-2,
.pricing__plan--card-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 240px;
  height: 100%;
  border: solid #17191b0c 2px;
  padding: 0;
  border-radius: 4px;
  align-items: center;
  z-index: 2;
  width: 100%;
}

.pricing__plan--btn {
  transition: all 300ms ease;
  z-index: 0;
}

.plan__description {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: solid #17191b0c 2px;
}

.plan__description h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.pricing__plan {
  display: flex;
  flex-direction: column;
}

.plan__title,
.pricing__list,
.plan__description--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__title {
  padding-bottom: 50px;
  width: 100%;
  border-top: solid 4px;
}

.pricing__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__title h4 {
  padding-bottom: 40px;
  padding-top: 20px;
}

.plan__btn {
  width: 100%;
  max-width: 150px;
}

.plan__pricing {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.monthly {
  font-size: 10px;
  color: #243e63b4;
  font-weight: 700;
  padding-top: 10px;
}

.plan__description--list {
  height: 100%;
  border-bottom: solid #17191b0c 2px;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.pricing__plan--card-1 .plan__title {
  border-color: #4df7cd;
}

.pricing__plan--card-2 .plan__title {
  border-color: #007bff;
}

.pricing__plan--card-3 .plan__title {
  border-color: #fc466b;
}

.plan__btn--wrapper {
  padding: 24px 0;
}

.plan__item {
  font-size: 14px;
  color: #243e6385;
  font-weight: bold;
  padding: 16px 0;
}

.plan__btn-1,
.plan__btn-2,
.plan__btn-3 {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: bold;
  transition: all 300ms ease;
}

.plan__btn-1 {
  background: #4df7cd;
  background: linear-gradient(
    90deg,
    rgba(77, 247, 205, 1) 0%,
    rgba(77, 247, 205, 1) 3%,
    rgba(77, 247, 205, 0.82) 50%,
    rgba(77, 247, 205, 0.7) 100%
  );
  z-index: 4;
}

.plan__btn-2 {
  background: #007bff;
  background: linear-gradient(
    90deg,
    rgba(0, 123, 255, 0.72) 100%,
    rgba(72, 115, 184, 0.63) 48%,
    rgba(0, 98, 255, 1) 78%,
    rgba(65, 95, 148, 0.85) 29%,
    rgba(98, 124, 168, 0.52) 0%
  );
}

.plan__btn-3 {
  background: #fc466b;
  background: radial-gradient(
    circle,
    rgba(252, 70, 107, 1) 0%,
    rgba(245, 115, 139, 0.76) 100%
  );
}

.plan__btn-1:hover,
.plan__btn-2:hover,
.plan__btn-3:hover {
  transform: scale(1.06);
}

.pricing__cards {
  display: flex;
  flex-wrap: wrap;
}

.pricing__plan--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
}

.pricing__plan--card-1:hover .plan__btn-1 {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.76) 100%
  );
  color: #4df7cd;
}

.pricing__plan--card-2:hover .plan__btn-2 {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.76) 100%
  );
  color: #007bff;
}

.pricing__plan--card-3:hover .plan__btn-3 {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.76) 100%
  );
  color: #fc466b;
}

.pricing__plan--card:hover h4 {
  color: white;
}

.pricing__plan--card:hover .monthly {
  color: white;
}

.pricing__plan--card:hover .plan__pricing {
  color: white;
}

.pricing__plan--card:hover .plan__item {
  color: white;
}

.pricing__plan--card-1:hover {
  background-color: #76e0c4;
  cursor: pointer;
}

.pricing__plan--card-1:active {
  transform: scale(1.03);
}

.pricing__plan--card-1:hover,
.pricing__plan--card-2:hover,
.pricing__plan--card-3:hover {
  transition: all 300ms ease;
}

.pricing__plan--card-2:hover {
  background: #6bb3ff;
}

.pricing__plan--card-2:active {
  transform: scale(1.03);
}

.pricing__plan--card-3:hover {
  background-color: #fc466b;
}

.pricing__plan--card-3:active {
  transform: scale(1.03);
}

/*

FOOTER

*/

.footer__container {
  background-color: #4e02e6;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__img {
  width: 50px;
  padding-right: 10px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 8px 0 8px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 8px 60px 8px;
  border-bottom: solid 2px #ffffff42;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.link {
  padding: 10px 0;
  font-size: 13px;
  transition: all 300ms ease;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 7px;
  left: 0;
  background-color: #ffffff;
  transition: 0.2s ease;
  transform: scaleX(0);
}
.link:hover:after {
  transform: scaleX(1);
}

.links h5,
.link,
.footer__text,
.footer__info p {
  color: white;
}

.links h5 {
  padding-bottom: 16px;
  font-size: 14px;
}

.socials__list {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

i:hover {
  opacity: 0.86;
}

.footer__container a {
  color: white;
}

.link:hover {
  opacity: 0.76;
}

@media (max-width: 960) {
}
